*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/~*
/material/eliminar receta sin definir borrado cascada.txt
/material/gestion tiempo.txt
/material/Anotaciones sobre Room.txt
/material/Flujo gestion seleccion imagen.txt
/material/guardarRecetaCompleta.txt
/material/MaterialDesign.txt
/material/ObservarRowID.txt
/material/Cuotamercado.txt
/material/Explicacion diferencia toolbars.txt
